<header>
  <figure>
    <img src="/assets/images/logo.png" alt="Swedavia - swedish airports">
  </figure>
</header>
<main>
  <section>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" novalidate>

      <label for="username">Username</label>
      <input type="text" id="username" formControlName="userName" required userName>
      <app-show-errors [control]="loginForm.controls.userName"></app-show-errors>

      <label for="password">Password</label>
      <input type="text" id="password" formControlName="password" equired password>
      <app-show-errors [control]="loginForm.controls.password"></app-show-errors>

      <button type="submit" [disabled]="!loginForm.valid">Login</button>

      <a href="#">Forgot password?</a>
    </form>
  </section>
</main>
<footer>Powered by <a href="#">Cygate</a></footer>
